.auth-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;

  background-image: url(../../assets/images/banner.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 91.9vh;
}
