* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", serif !important;
}

.App {
  height: 100vh;
  background-color: #f0f0f0;
}

.auth-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}
