.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.auth-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
}
