* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", serif;
}

.App {
  height: 100vh;
  background-color: #f0f0f0;

  background-image: url("./assets/images/banner.webp");
  background-size: cover;
}

.auth-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 230px;
}
